header{
    padding: 0;
    margin: 0;
}
 nav{
    background-color: bisque;

 }
 ul{
    list-style: none;
 }
 li{
    display: inline;
    text-align: center;
    padding: 7px;
 }
 a{
    text-decoration: none;
    color: orange;
 }